@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e8e8ed;
  background: #0c1015;
}

.MuiFormControl-root label {
  color: #e8e8ed;
}

.MuiInputBase-root {
  color: rgb(214 198 198 / 87%);
}

.MuiInputBase-root textarea {
  color: rgb(214 198 198 / 87%);
}